/*Css pour la page d'acceuil*/

#home {
    height: 700px;
    margin-bottom: -20px;
}

#home img {
    height: 100%;
    width: 100%;    
}

/*Css pour produit.html*/
#affichage {
    height: 630px;
    margin-top:50px;
    font-family: 'Slabo 27px', serif;
}

#affichage h1 {
    color:black;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 2px;
    font-size: 40px;
    margin-left:20px;
}

#articles table {
    width: 1000px;
    margin: auto;
    margin-top:80px;
    text-align: center;
    
    
}

#articles td {
    padding-left:40px;
    padding-top: 20px;
}

.name {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size:1.1em;
}

.des {
    letter-spacing: 2px;
}

#categories {
    float:right;
    margin-right: 30px;
    letter-spacing: 1px;
}

#buttonAdd {
    text-align: center;
}

.button {
    background-color:black;
    color:white;
    border-radius: 10px;
    padding:10px;
}
/*Css pour le pop up quantite*/

.blocItem {
    
    display: inline-block;
    text-align: center;
    margin-right: 40px;
    font-weight: bold;
    margin-left: 60px;
    margin-top:20px;
    
}

#quantite img {
    margin-bottom: 20px;
}

#quantite {
    width: 800px;
    font-family: 'Slabo 27px', serif;
    position: absolute;
    left:30%;
    top:30%
}

#validerAdd {
    display:block;
    margin:auto;
    margin-bottom: 20px;
}
#items {
    margin:auto; 
    background-color: white;
    border:black solid 2px;
}

/* Panier */
#panier td {
    border: 2px black solid;
    padding: 5px;
    
}

#panier {
    height: 500px;
    font-family: 'Slabo 27px', serif;
    margin-top:40px;

}

#panier table
{
    margin-left:20% ;
    padding-top: 20px;
    border-collapse: collapse;
}

#buttonCheckOut{
    width: 100px;
    margin-left:29%;
    margin-top:20px;
}
#panier h1 {
    margin-left:20px;
}

#panier p {
    margin-left: 40px;
}

#buttonImprimer {
    margin-left: 80px;
}
/*Pour que uniquement la facture soit imprimé*/
@media print {
    #panier {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}