/*Css pour la page d'acceuil*/

#home {
    height: 700px;
    margin-bottom: -20px;
}

#home img {
    height: 100%;
    width: 100%;    
}

/*Css pour produit.html*/
#affichage {
    height: 630px;
    margin-top:50px;
    font-family: 'Slabo 27px', serif;
}

#affichage h1 {
    color:black;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 2px;
    font-size: 40px;
    margin-left:20px;
}

#articles table {
    width: 1000px;
    margin: auto;
    margin-top:80px;
    text-align: center;
    
    
}

#articles td {
    padding-left:40px;
    padding-top: 20px;
}

.name {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size:1.1em;
}

.des {
    letter-spacing: 2px;
}

#categories {
    float:right;
    margin-right: 30px;
    letter-spacing: 1px;
}

#buttonAdd {
    text-align: center;
}

#button {
    background-color:black;
    color:white;
    border-radius: 10px;
    padding:10px;
}